{
    "plugins": ["prettier-plugin-blade"],
    "overrides": [
      {
        "files": "*.blade.php",
        "options": {
          "printWidth": 120,
          "singleQuote": false,
          "semi": true,
          "tabWidth": 4
        }
      }
    ]
  }
  